

header{
    background: url(./imagenes/fondo.jpg) 50% 0 fixed ;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   }
   #header-2{
       background-image: url(./imagenes/historia-programacion.jpg);
   
       position: relative;
       height: 70vh;
   }
   #header-3{
       background-image: url(./imagenes/img2.jpg);
   
       position: relative;
       height: 70vh;
   }
   .fondo-azul{
       background: rgba(47, 54, 69,0.7);
       width: 100%;
       display: flex;
       align-items: center;
       height: 100%;
       justify-content: center;
   }
   .espacio-titulo{
       padding: 80px 10px;
       color: red;
   }
   h1{
    font-weight: 400;
    font-size: calc(3em + 18px); 
    color: #eeeeee;
    text-shadow: 2px 2px #808080, 6px 6px black;
}

nav{
    
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    transition: background-color 1s;
}
.fondoNav{
    background-color: var(--colorLight);

}
.fondoNav>ul>li>a{
    color: var(--colorDark);
    text-shadow: 1px 1px white, 2px 3px gray;
}
.tema{
    display: none;
}
.tema-block{
    display: block;
}
.menu{
 display: flex;
 width: 300px;
 justify-content: space-around;
}
main{
    padding: 100px 20px;
}
.item-menu{
 list-style-type: none;
 
}
.item-link{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 1px 1px gray, 2px 3px black;
}
@font-face {  
    font-family: 'Raleway';  
    src: url('fonts/Raleway/static/Raleway-Regular.ttf') format('ttf'),  
         url('fonts/Raleway/static/Raleway-Regular.ttf') format('ttf');  
    font-weight: 400;  
    font-style: normal;  
}  

@font-face {  
    font-family: 'Raleway';  
    src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf'),  
         url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('ttf');  
    font-weight: 700;  
    font-style: normal;  
}  

body {  
    font-family: 'Raleway', sans-serif; /* Aplica la fuente Raleway */  
}  
.container-historia {  
    display: grid;  
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */  
    grid-template-rows: repeat(3, 600px); /* Tres filas de 100px de alto */
  /* grid-template-columns: 200px 200px; /* Dos columnas de 200px cada una */  
   /*grid-template-rows: 150px 150px 150px; /* Tres filas de 150px cada una */  

    grid-template-areas:   
        "area1 area2"  
        "area3 area4"  
        "area5 area6";  
    gap: 30px; /* Espacio entre las celdas */  
}  

.item1 { grid-area: area1; background: lightcoral;align-content: center; align-items: center;  padding: 50px;  }  
.item2 { grid-area: area2; background: lightblue; align-content: center;align-items: center;  padding: 50px; }  
.item3 { grid-area: area3; background: lightgreen;align-content: center; align-items: center;  padding: 50px; }  
.item4 { grid-area: area4; background: lightgoldenrodyellow;align-content: center; align-items: center;  padding: 50px; }  
.item5 { grid-area: area5; background: lightsalmon; align-content: center; align-items: center;  padding: 50px; }  
.item6 { grid-area: area6; background: lightgray; align-content: center; align-items: center;  padding: 50px}  


.imgHistoria {  
    width: 100%; /* Se adapta al contenedor */  
    max-width: 600px; /* No excede 600px */  
    height: 100%; /* Mantiene la proporción */ 
    border: 2px solid black; /* Añade un borde (opcional) */  
    border-radius: 10px; /* Esquinas redondeadas (opcional) */  
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra (opcional) */  
} 
.tituloH2{
    font-weight: 700; 
    font-family: 'Raleway', sans-serif; /* Aplicar Raleway y fallback a sans-serif */  
    margin: 0;  
    padding: 20px;  
    /*background-color: #f4f4f4; /* Color de fondo suave */  
    color: blue; /* Color de texto oscuro */ 
   font-size: 20px;
}
.card-text-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

h2{
    text-shadow: 1px 1px white,2px 2px gray ;
    font-size:calc(2em + 18px) ; 
    font-weight: 500;
    text-align: center;
    color: var(--colorDark)
}

body {  
    font-family: 'Raleway', sans-serif; /* Utiliza Raleway */  
}  

.contenedorVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;
}
.container {
    padding: 5px;
    background-color: var(--colorDark);
    width: 70%;
}
.barra {
    background-color: var(--colorDark);
    border-radius: 10px;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonera {
    display: flex;
    gap: 20px;
}
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botonesVideo {
    box-shadow: 2px 2px grey;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--colorLight);
    color: var(--colorDark);
    font-weight: 300;
    border: 1px solid var(--colorDark);
}


#videoContainer {  
    max-width: 600px; /* Max ancho para el video */  
    margin: auto; /* Centra el contenedor */  
}  
video {  
    width: 100%; /* Hace que el video sea responsivo */  
}  


.menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
}
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hoja de estilo del agente de usuario
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
:root {
    --colorLight: #FFFFFF;
    --colorDark: #2F3645;
    --colorDarkTransparent: #2f3645b3;
    --colorDarkTransparent2: #767a81de;
}
.cont-padre{
    margin: 100px 0px;
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 gap: 20px;
}
.card{
    width: 450px;
    height: 500px;
    gap: 40px;
    background-color: var(--colorLight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   }

   .boton-hj{
    padding: 10px ;
   background-color: var(--colorDark);
   text-align: center;
   text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    margin-bottom: 20px;
}

.boton-hj:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}
   
   .desc-card{
   width: 90%;
   text-align: center;
   height: 30px;
   color:#181D31;
   }
   
   .img-card{
    width: 100%;
    margin: 0px;
   
   }

   .mon1{
    animation: part_1 ease-in 5s  ;
    animation-iteration-count:1 ;
    }
    
    .mon2{
animation: part_2 ease-in 5s  ;
animation-iteration-count:1 ;
}
    line.cod{
    animation-name: showCode;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajas{
    display: flex;
    flex-direction: row;
}
.caja{
    width: 275px;
    height: 400px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.caja:hover{
    background-color: #1d1d1d;
    
}
.caja:hover>p{
    color: var(--colorLight);
}
#cajaimagenes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}
#imagen1,#imagen2,#imagen3{
    width: 275px;
    height: 400px;
}
.reinicio{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    border: none;
    border-radius: 0px;
    background-color: var(--colorDark);
    color: var(--colorLight);
    text-transform: uppercase;
    font-weight: 300;
}
.logo{
    height: 50px;
}
footer{
    background: var(--colorDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  100px;
    color: #f5f5f5;
}

.footer-left{
 display: flex;
 justify-content: space-between;
 width:300px;
 height: 60px;
 
}

.titulo-foot{
    font-size: 14px;
}
